#mdd-bar {
	position: relative;
	height: 30px;
	background-color: white;
	background-color: rgba(255,255,255,0.9);
	max-width: 800px;
	margin: 5px auto;
	-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
}
#mdd-bar-percent {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 300px;
	margin-left: -150px;
	height: 30px;
	margin-top: -10px;
	text-align: center;
	font-weight: bold;
	text-shadow: 0 1px 1px rgba(255,255,255,0.3);
}
#mdd-meter {
	height: 30px;
	background-color: #0073aa;	/* fresh */
	width: 0%;
	display: inline-block;
	position: relative;
}
.admin-color-light #mdd-meter {
	background-color: #888;
}
.admin-color-blue #mdd-meter {
	background-color: #096484;
}
.admin-color-coffee #mdd-meter {
	background-color: #c7a589;
}
.admin-color-ectoplasm #mdd-meter {
	background-color: #a3b745;
}
.admin-color-midnight #mdd-meter {
	background-color: #e14d43;
}
.admin-color-ocean #mdd-meter {
	background-color: #9ebaa0;
}
.admin-color-sunrise #mdd-meter {
	background-color: #dd823b;
}
#mdd-meter:before {
	background: -moz-linear-gradient(top,  rgba(255,255,255,0.35) 0%, rgba(255,255,255,0) 60%); /* FF3.6+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0.35) 0%, rgba(255,255,255,0) 60%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0.35) 0%, rgba(255,255,255,0) 60%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0.35) 0%, rgba(255,255,255,0) 60%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0.35) 0%, rgba(255,255,255,0) 60%); /* W3C */
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
#mdd-manage {
	display: none;
}
.column-mdd_size {
	width: 6em;
}
.mdd-column-1 {
	margin-right: 300px;
}
.mdd-column-2 {
	float: right;
	width: 280px;
	margin-left: 20px;
}

.mdd-box {
	background: #fff;
	border: 1px solid #e5e5e5;
	position: relative;
	padding: 15px;
}

.mdd-box > h2:first-child {
	margin-top: 0;
}